# --------------------
# Logs
# --------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------
# Build / Output
# --------------------
dist/
dist-ssr/
*.local

# --------------------
# Dependências
# --------------------
node_modules/
package-lock.json
.next/

# --------------------
# Configs e ambientes
# --------------------
.env
.env.localgit add .

# --------------------
# Vercel
# --------------------
.vercel/

# --------------------
# Arquivos de sistema / editor
# --------------------
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# --------------------
# Arquivos do Visual Studio
# --------------------
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --------------------
# Arquivos pessoais / extras
# --------------------
comands.txt
